{% extends 'base.html' %}

{% block title %}Import dát{% endblock %}

{% block content %}
<h1>Import CSV súboru</h1>

<form action="{% url 'participant:import' %}" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  {% for error in form.non_field_errors %}
  <div class="alert alert-dismissible alert-danger">
    {{ error }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %}

  {% for field in form%}
    {% for error in field.errors %}
    <div class="alert alert-dismissible alert-danger">
      {{ error }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}
  {% endfor %}

  <div class="form-group">
    {% for field in form %}
    <p>{{ field.label_tag }} {{ field }}</p>
    {% endfor %}
  </div>

  <input type="submit" class="btn btn-primary" value="Nahraj" />
</form>
{% endblock %}
