{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Import dát{% endblock %}

{% block content %}
<h1>Import CSV súboru</h1>

<form action="{% url 'participant:import' %}" method="POST" enctype="multipart/form-data" style="width: 450px; margin: auto;">
  {% csrf_token %}
  {% if form.non_field_errors %}
    <div id="non_field_error" class="error message">
      {% for error in form.non_field_errors %}
        {{ error|escape }}
      {% endfor %}
      <button type="button" onclick="close_this('non_field_error');" class="close_alert error">&#x2716;</button>
    </div>
  {% endif %}
  {% for field in form %}
    {% if field.errors %}
    <div id="field_error" class="error message">
      {% for error in field.errors %}
        {{ error|escape }}
      {% endfor %}
      <button type="button" onclick="close_this('field_error');" class="close_alert error">&#x2716;</button>
    </div>
    {% endif %}
  {% endfor %}
  <p>{{ form.csv_text }}</p>
  <p>{{ form.csv_file }}</p>
  <input type="submit" value="Nahraj" />
</form>
{% endblock %}
