{% load staticfiles %}

<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Webová platforma vyvýjaná na beh jednodňových súťaží Lomihlav a Mamut organizovaných združením STROM">
    <meta name="author" content="Martin Števko, Martin Mihálik">
    <meta name="keywords" content="lomihlav mamut">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:url" content="{{ request.META.HTTP_HOST }}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Lomihlav&Mamut" />
    <meta property="og:description" content="Webová platforma vyvýjaná na beh jednodňových súťaží Lomihlav a Mamut organizovaných združením STROM" />

    {% block title %}
    {% endblock %}
    <link rel="icon" href="{% static 'img/logo.png' %}" type="image/png">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% block bootstrap %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block css %}
    {% endblock %}
  </head>
  <body>
    <!-- Sidebar -->
    <div class="w3-sidebar w3-bar-block w3-animate-left" style="display:none;z-index:5" id="mySidebar">
      <button class="w3-bar-item w3-button w3-large" onclick="w3_close()">Zavrieť &times;</button>
      <a href="{% url 'competition:index' %}" class="w3-bar-item w3-button"><i class="fa fa-home" style="font-size:24px"></i>&emsp;Domov</a>
      {% if user.is_staff %}

      {% endif %}
      <a href="{% url 'competition:log_out' %}" class="w3-bar-item w3-button"><i class="fa fa-sign-out" style="font-size:24px"></i>&emsp;Odhlásiť sa</a>
    </div>

    <div class="w3-overlay w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" id="myOverlay"></div>

    <!-- Navbar -->
    <div class="navbar">
      {% if user.is_authenticated %}
        <button class="w3-button w3-xxlarge" onclick="w3_open()">&#9776;</button>
        <span style="float: right;">
          <a href="{% url 'competition:log_out' %}"><i class="fa fa-sign-out" style="font-size:24px"></i>&ensp;Odhlásiť sa</a>
        </span>
      {% else %}
        <span style="float: right;">
          <a href="{% url 'admin:login' %}"><i class="fa fa-sign-in" style="font-size:24px"></i>&ensp;Prihlás sa</a>
        </span>
      {% endif %}
    </div>

    <div class="content">
      {% block content %}
      {% endblock %}
    </div>

    <script>
      function w3_open() {
          document.getElementById("mySidebar").style.display = "block";
          document.getElementById("myOverlay").style.display = "block";
      }
      function w3_close() {
          document.getElementById("mySidebar").style.display = "none";
          document.getElementById("myOverlay").style.display = "none";
      }
    </script>
  </body>
  {% block late_js %}
  {% endblock %}
</html>
