{% extends 'base.html' %}

{% block title %}Udalosti{% endblock %}

{% block content %}
<h1>Udalosti</h1>

<div class="list-group">
  {% for event in events %}
  <a class="list-group-item list-group-item-action" href="{% url 'competition:event' event.pk %}">{{ event }}</a>
  {% endfor %}
  <a class="list-group-item list-group-item-action" href="{% url 'competition:initialize_competition' %}">Vytvoriť
    súťaž</a>
</div>

<br />

<h1>Účastníci</h1>

<div class="list-group">
  <a class="list-group-item list-group-item-action" href="{% url 'participant:export' %}">Export</a>
  <a class="list-group-item list-group-item-action" href="{% url 'participant:import' %}">Import</a>
</div>
{% endblock %}