{% extends 'base.html' %}

{% block title %}{{ event }} &ndash; Štatistiky{% endblock %}

{% block content %}
{% for category_name,category_stats in stats.items %}
    <h2>{{category_name}}</h2>
    <table>
        <tr>
        <th>Číslo tímu</th>
        {% for problem in category_stats.problems %}
            <th>{{problem|add:1}}.</th>
        {% endfor %}
        </tr>
    {% for team_number, team in category_stats.stats.items %}
        <tr>
            <td>{{team_number}}</td>
        {% for problem in team %}
            <td class="{% if problem %}statistics__cell--success{% else %}statistics__cell--fail{% endif %}">{{problem}}</td>
        {% endfor %}
        </tr>
    {% endfor %}
    </table>
{% endfor %}
{% endblock %}