{% extends 'base.html' %}

{% block title %}{{ event }} &ndash; Odovzdaj{% endblock %}

{% block content %}
{% if messages %}
<ul>
  {% for message in messages %}<li class="{% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</li>{% endfor %}
</ul>
{% endif %}

<form action="{% url 'competition:submit' event.pk %}" method="POST" autocomplete="off">
  {% csrf_token %}
  {{ form.as_p }}
</form>
{% endblock %}

{% block lateJS %}
  <script>
    var input = document.getElementById("barcode_input"),
      focuser = function () {
          input.focus();
      };

    focuser();
    input.onblur = function () {
      setTimeout(focuser, 0);
    };
  </script>
{% endblock %}
