{% extends 'base.html' %}

{% block title %}{{ event }} &ndash; Odovzdaj{% endblock %}

{% block content %}
<form action="{% url 'competition:submit' event.pk %}" method="POST" autocomplete="off">
  {% csrf_token %}

  {% for error in form.non_field_errors %}
  <div class="alert alert-dismissible alert-danger">
    {{ error }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %}

  {% for field in form %}
  {% for error in field.errors %}
  <div class="alert alert-dismissible alert-danger">
    {{ error }} Skús kód naskenovať ešte raz a ak znova uvidíš tento problém, zapíš si čas
    odovzdania a kontaktuj hlavného IT organizátora.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %}
  {% endfor %}

  {{ form.event }}

  <div class="form-group">
    {{ form.code }}
  </div>
  <div class="form-group">
    {{ form.require_control_sum }} <label
      for="{{ form.require_control_sum.id_for_label }}">{{ form.require_control_sum.label }}</label>
  </div>
</form>

{% if solutions %}
<div class="list-group">
  {% for solution in solutions %}
  <a class="list-group-item list-group-item-action" target="_blank"
    href="{% url 'admin:competition_solution_change' solution.pk %}">
    {{ solution.team }} ({{ solution.team.number }}), úloha <strong>{{ solution.problem_category.name }}
      {{ solution.problem_position }}</strong>
    <span class="float-right">{{ solution.time|date:"H:i:s (d. m. Y)" }}</span>
  </a>
  {% endfor %}
</div>
{% endif %}
{% endblock %}

{% block javascript %}
<script>
  var input = document.getElementById("id_code"),
    focuser = function () {
      input.focus();
    };

  focuser();
  input.onblur = function () {
    setTimeout(focuser, 0);
  };
</script>
{% endblock %}