{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <link rel="stylesheet" href="{% static 'base.css' %}" />
    {% block css %}
    {% endblock %}
  </head>
  <body>
    <div class="topnav" id="topnavbar">
      <a class="navbar" href="{% url 'admin:index' %}">Admin</a>
      <a class="navbar" href="{% url 'competition:index' %}">Hlavná stránka</a>
      {% if event %}<a class="navbar navbar-right" href="{% url 'competition:event' event.pk %}">{{ event }}</a>{% endif %}
    </div>

    {% if messages %}
    {% for message in messages %}
      <div id="{% if message.tags %}{{ message.tags }}{% endif %}" class="{% if message.tags %}{{ message.tags }}{% endif %} message">
        {{ message }}
        <button type="button" onclick="close_this('{% if message.tags %}{{ message.tags }}{% endif %}');" class="close_alert {% if message.tags %}{{ message.tags }}{% endif %}">&#x2716;</button>
      </div>
    {% endfor %}
    {% endif %}

    <div>
      {% block content %}
      {% endblock %}
    </div>
    {% block javascript %}
    {% endblock %}
    <script src="{% static 'base.js' %}"></script>
  </body>
</html>
