{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <link rel="stylesheet" href="{% static 'base.css' %}" />
    {% block css %}
    {% endblock %}
  </head>
  <body>
    <div class="topnav" id="topnavbar">
      <a class="navbar" href="{% url 'admin:index' %}">Admin</a>
      <a class="navbar" href="{% url 'participant:import_data' %}">Import</a>
      <a class="navbar" href="{% url 'participant:export_data' %}">Export</a>
    </div>
    <div>
      {% block content %}
      {% endblock %}
    </div>
    {% block javascript %}
    {% endblock %}
  </body>
</html>
